@import "tailwindcss";

@theme {
  
  /* Midabada laga soo saaray Logo-ga */
  --color-brand-purple: #4421a3;  /* Midabka Logada */
  --color-brand-purple-dark: #4b2a75;
  --color-brand-red: #fd0505;
  --color-brand-gray: #f9f9f9;
  
  --radius-likenew: 12px;
  --font-sans: "Inter", sans-serif;
}

:root {
  --background: #4421a3;
  --foreground: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}